---
import { SEO } from "astro-seo";
import { getCollection, getEntryBySlug } from "astro:content";
import { musicEventSchema } from "../../util/jsonLd";
import Layout from "../../layouts/Base.astro";
import Icon from "../../components/Icon.astro";
import CardPerformer from "../../components/CardPerformer.astro";

const { currentYear, domain, siteName } = Astro.locals;

const allEvents = await getCollection("events");
const nextEvent = allEvents.find(({ data }) => data.year === currentYear);
const nextEventBands = nextEvent?.data.bands || [];
const nextEventDjs = nextEvent?.data.djs || [];

let bands = [];
let djs = [];

for (const { slug } of nextEventBands) {
   const band = await getEntryBySlug("performers", slug);

   if (band) {
      bands.push(band);
   }
}

for (const { slug } of nextEventDjs) {
   const dj = await getEntryBySlug("performers", slug);

   if (dj) {
      djs.push(dj);
   }
}

const jsonSchema = nextEvent ? await musicEventSchema(nextEvent.slug) : {};

const friSchedule = [
   ["06:00", "18:00", "Doors open"],
   ["06:20", "18:20", "Ominous Erotica"],
   ["06:50", "18:50", "break"],
   ["07:00", "19:00", "Scary Black"],
   ["07:30", "19:30", "break"],
   ["07:40", "19:40", "Talking To Shadows"],
   ["08:10", "20:10", "break"],
   ["08:20", "20:20", "In A Darkened Room"],
   ["08:50", "20:50", "break"],
   ["09:00", "21:00", "Dead Cool"],
   ["09:30", "21:30", "break"],
   ["09:40", "21:40", "The Neuro Farm"],
   ["10:10", "22:10", "break"],
   ["10:20", "22:20", "The Kentucky Vampires"],
   ["11:00", "23:00", "Bands over by 11pm"],
];

const satSchedule = [
   ["06:00", "18:00", "Doors open"],
   ["06:20", "18:20", "Sinister Senile"],
   ["06:50", "18:50", "break"],
   ["07:00", "19:00", "Chrysanthemum Ballroom"],
   ["07:30", "19:30", "break"],
   ["07:40", "19:40", "Motuvius Rex"],
   ["08:10", "20:10", "break"],
   ["08:20", "20:20", "Wireworks"],
   ["08:50", "20:50", "break"],
   ["09:00", "21:00", "The Palace of Tears"],
   ["09:30", "21:30", "break"],
   ["09:40", "21:40", "The Waning Moon"],
   ["10:10", "22:10", "break"],
   ["10:20", "22:20", "Astari Nite"],
   ["11:00", "23:00", "Bands over by 11pm"],
];
---

<Layout>
   <SEO
      slot="seo"
      title=`${currentYear} Lineup | Dark Castle Fest`
      description="Dark Castle Fest 2023 featuring Astari Nite, The Kentucky Vampires, Dead Cool, The Waning Moon, The Palace of Tears, Scary Black, and more."
      openGraph={{
         basic: {
            title: `${currentYear} Lineup | Dark Castle Fest`,
            image: `${domain}/images/dark-castle-festival-2023.jpg`,
            type: "website",
            url: `${domain}/lineup`,
         },
         optional: {
            locale: "en_US",
            siteName,
         },
      }}
   />

   <div class="container box-gap">
      <section id="info" class="pb-lg">
         <h1 class="title">Dark Castle Fest {currentYear} Lineup</h1>

         <p>
            <time datetime="2023-07-28">Friday July 28, 2023</time> and <time
               datetime="2023-07-29">Saturday July 29, 2023</time
            >
         </p>

         <div class="grid grid--collapse">
            <div class="grid-item xs-12 md-8">
               <p>
                  <strong>Ticket Options:</strong><br />
                  Weekend Pass &ndash; $65<br />
                  <sup class="text-secondary">*</sup>Babacastillo Pass &ndash;
                  $95<br />
                  Single Day Pass - $45
               </p>

               {
                  nextEvent?.data?.ticketsUrl && (
                     <a
                        class="btn btn--primary"
                        href={nextEvent?.data.ticketsUrl}
                        target="_blank"
                        rel="noopener"
                     >
                        <Icon icon="ticket" classes="ml-0" />
                        <span class="inline-block">Purchase Tickets</span>
                     </a>
                  )
               }

               <p class="text-secondary">
                  <small>
                     <sup>*</sup>Babacastillo Pass details: Full event pass plus
                     event t-shirt, event poster autographed by The Kentucky
                     Vampires, two event stickers, single packet of Taco Bell
                     Fire Sauce autographed by Albie Mason of Scary Black and an
                     option for a free pic taken with Dark Castle monster
                     Babacastillo.
                  </small>
               </p>
            </div>
            <div class="grid-item xs-12 md-4">
               <p>
                  18+ to enter<br />
                  {
                     nextEvent?.data?.facebookEvent && (
                        <>
                           <a
                              href={nextEvent.data.facebookEvent}
                              target="_blank"
                              rel="noopener"
                           >
                              Facebook Event Page
                           </a>
                           <br />
                        </>
                     )
                  }

                  <a href="#schedule">Event Schedule</a><br />
                  Venue: <a
                     href="https://www.google.com/maps/place/Art+Sanctuary/@38.2264103,-85.7413458,15z/data=!4m2!3m1!1s0x0:0xe8b5fa85d9ebd15f?ved=2ahUKEwjD0efWu_rfAhVKhq0KHV-nAdMQ_BIwDnoECAEQCA"
                     target="_blank"
                     rel="noopener">Art Sanctuary</a
                  >
               </p>
            </div>
         </div>
      </section>

      <section id="bands" class="pb-lg">
         <h2 class="title">Bands</h2>

         <div class="cards performer-cards">
            {bands.map((item) => <CardPerformer performer={item} />)}
         </div>
      </section>

      <section id="djs" class="pv-lg">
         <h2 class="title">DJs</h2>

         <div class="cards performer-cards">
            {djs.map((item) => <CardPerformer performer={item} />)}
         </div>
      </section>

      <section id="schedule">
         <h3 class="title">Schedule (EST)</h3>

         <div class="grid grid--collapse">
            <section class="grid-item xs-12 md-6">
               <h4 class="text-secondary title">
                  <time datetime="2023-07-28">Friday July 28, 2023</time><br />
                  <small
                     ><time datetime="2023-07-28T18:00">6:00pm</time> &ndash; <time
                        datetime="2023-07-29T02:00">2:00am</time
                     ></small
                  >
               </h4>

               <ol class="list-unstyled">
                  {
                     friSchedule.map((arr) => (
                        <li>
                           <time datetime={`2028-07-28T${arr[1]}`}>
                              {arr[0]}
                              <small>pm</small>
                           </time>
                           <span class="text-secondary">&ndash;</span> {arr[2]}
                        </li>
                     ))
                  }
               </ol>

               <p>
                  DJs Dead Souls Gothic Lounge + Count Grozny before, between,
                  and after bands until 2:00<small>am</small>.
               </p>
            </section>

            <section class="grid-item xs-12 md-6">
               <h4 class="text-secondary title">
                  <time datetime="2023-07-29">Saturday July 29, 2023</time><br
                  />
                  <small
                     ><time datetime="2023-07-29T18:00">6:00pm</time> &ndash; <time
                        datetime="2023-07-30T02:00">2:00am</time
                     ></small
                  >
               </h4>

               <ol class="list-unstyled">
                  {
                     satSchedule.map((arr) => (
                        <li>
                           <time datetime={`2028-07-29T${arr[1]}`}>
                              {arr[0]}
                              <small>pm</small>
                           </time>
                           <span class="text-secondary">&ndash;</span> {arr[2]}
                        </li>
                     ))
                  }
               </ol>

               <p>
                  DJs Ichabod + Sorrow-Vomit before, between, and after bands
                  until 2:00<small>am</small>.
               </p>
            </section>

            <section class="grid-item xs-12 text-center pt-md">
               <p class="text-secondary">
                  Dark Market Vendors and food truck 6pm to midnight.
               </p>
            </section>
         </div>
      </section>
   </div>

   <script
      slot="jsonLd"
      type="application/ld+json"
      set:html={JSON.stringify(jsonSchema)}
   />
</Layout>
