---
import { SEO } from "astro-seo";
import { Picture } from "astro:assets";
import { getCollection, getEntryBySlug } from "astro:content";
import { musicEventSchema } from "../../util/jsonLd";
import Layout from "../../layouts/Base.astro";
import Icon from "../../components/Icon.astro";
import CardPerformer from "../../components/CardPerformer.astro";
import Grid from "../../components/Grid.astro";
import GridItem from "../../components/GridItem.astro";
import Schedule2024 from "../../components/Schedule2024.astro";

const { currentYear, domain, siteName, social } = Astro.locals;

const allEvents = await getCollection("events");
const nextEvent = allEvents.find(({ data }) => data.year === currentYear);
const nextEventBands = nextEvent?.data.bands || [];
const nextEventDjs = nextEvent?.data.djs || [];
const nextEventPerformances = nextEvent?.data.performances || [];

import lineupPoster20240926 from "../../images/dark-castle-fest-2024-09-26-lineup.jpg";
import lineupPoster20240927 from "../../images/dark-castle-fest-2024-09-27-lineup.jpg";
import lineupPoster20240928 from "../../images/dark-castle-fest-2024-09-28-lineup.jpg";

let bands = [];
let djs = [];
let performances = [];

for (const { slug } of nextEventBands) {
   const band = await getEntryBySlug("performers", slug);

   if (band) {
      bands.push(band);
   }
}

for (const { slug } of nextEventDjs) {
   const dj = await getEntryBySlug("performers", slug);

   if (dj) {
      djs.push(dj);
   }
}

for (const { slug } of nextEventPerformances) {
   const performance = await getEntryBySlug("performers", slug);

   if (performance) {
      performances.push(performance);
   }
}

const jsonSchema = nextEvent ? await musicEventSchema(nextEvent.slug) : {};
---

<Layout>
   <SEO
      slot="seo"
      title=`${currentYear} Lineup | Dark Castle Fest 2025`
      description="Dark Castle Fest 2025: Updates Coming Soon!"
      openGraph={{
         basic: {
            title: `${currentYear} Lineup | Dark Castle Fest 2025`,
            image: `${domain}/images/dark-castle-2025.png`,
            type: "website",
            url: `${domain}/lineup`,
         },
         optional: {
            locale: "en_US",
            siteName,
         },
      }}
   />

   <div class="container box-gap">
      <section id="info" class="pb-lg">
         <h1 class="title">Dark Castle Fest {currentYear} Lineup</h1>

         <p>
            <time datetime="2025-10-31">Friday October 31</time> –
            <time datetime="2025-11-01">Saturday November 1, 2025</time>
         </p>

         <Grid collapse={true} classes="pb-lg">
            <GridItem xs={12} md={8}>
               <!-- 
               <p>
                  <strong>Ticket Options:</strong><br />
                  Full Event: $85<br />
                  Two Days: $65<br />
                  Single Day: $45
               </p>

               -->
               
               <p>
                  Ticket information and line-up will be posted here once that becomes available.
               </p>

               <p>
                  Please follow us on <a
                     href={social?.facebook}
                     target="_blank"
                     rel="noopener">Facebook</a
                  > and <a href={social?.instagram} target="_blank" rel="noopener"
                     >Instagram</a
                  > for the latest updates.
               </p>

               {
                  nextEvent?.data?.ticketsUrl && (
                     <a
                        class="btn btn--primary"
                        href={nextEvent?.data.ticketsUrl}
                        target="_blank"
                        rel="noopener"
                     >
                        <Icon icon="ticket" classes="ml-0" />
                        <span class="inline-block">Purchase Tickets</span>
                     </a>
                  )
               }

            </GridItem>
            <GridItem xs={12} md={4}>
               <p>
                  18+ to enter<br />
                  {
                     nextEvent?.data?.facebookEvent && (
                        <>
                           <a
                              href={nextEvent.data.facebookEvent}
                              target="_blank"
                              rel="noopener"
                           >
                              Facebook Event Page
                           </a>
                           <br />
                        </>
                     )
                  }

                  <a href="#schedule">Event Schedule</a><br />
                  Venue: <a
                     href="https://www.google.com/maps/place/Art+Sanctuary/@38.2264103,-85.7413458,15z/data=!4m2!3m1!1s0x0:0xe8b5fa85d9ebd15f?ved=2ahUKEwjD0efWu_rfAhVKhq0KHV-nAdMQ_BIwDnoECAEQCA"
                     target="_blank"
                     rel="noopener">Art Sanctuary</a
                  >
               </p>
            </GridItem>
         </Grid>
      </section>

      { bands.length >= 1 && (
         <section id="bands" class="pb-lg">
            <h2 class="title">Band Announcements</h2>

            <div class="cards performer-cards">
               {bands.map((item) => <CardPerformer performer={item} />)}
            </div>
         </section>
      )}
      
      { djs.length >= 1 && (
         <section id="djs" class="pv-lg">
            <h2 class="title">DJ Announcements</h2>

            <div class="cards performer-cards">
               {djs.map((item) => <CardPerformer performer={item} />)}
            </div>
         </section>
      )}
      
      {
         performances.length >= 1 && (
            <section id="performances" class="pv-lg">
               <h2 class="title">Performances</h2>

               <div class="cards performer-cards">
                  {performances.map((item) => (
                     <CardPerformer performer={item} />
                  ))}
               </div>
            </section>
         )
      }

      <section id="schedule">
         <h3 class="title">Schedule (EST)</h3>

         <p>
            The {currentYear} schedule will be posted here once it becomes available.
         </p>
      </section>
   </div>

   <script
      slot="jsonLd"
      type="application/ld+json"
      set:html={JSON.stringify(jsonSchema)}
   />
</Layout>
