---
import { SEO } from "astro-seo";
import { getCollection, getEntry, getEntryBySlug } from "astro:content";
import { Picture } from "astro:assets";
import { musicEventSchema } from "../util/jsonLd";
import Icon from "../components/Icon.astro";
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";
import Grid from "../components/Grid.astro";
import GridItem from "../components/GridItem.astro";
import HomepageBand from "../components/HomepageBand.astro";

import darkCastleFest2025Poster from "../images/dark-castle-2025.png";

const { currentYear, domain, siteName, social } = Astro.locals;

const allEvents = await getCollection("events");
const nextEvent = allEvents.find(({ data }) => data.year === currentYear);

const nextEventBands = nextEvent?.data.bands || [];
const nextEventDjs = nextEvent?.data.djs || [];
const nextEventPerformances = nextEvent?.data.performances || [];

/*
const location = nextEvent
   ? await getEntry("locations", nextEvent.data.location.slug)
   : null;
*/

let bands = [];
let djs = [];
let performances = [];

for (const { slug } of nextEventBands) {
   const band = await getEntry("performers", slug);

   if (band) {
      bands.push(band);
   }
}

for (const { slug } of nextEventDjs) {
   const dj = await getEntry("performers", slug);

   if (dj) {
      djs.push(dj);
   }
}

for (const { slug } of nextEventPerformances) {
   const performance = await getEntry("performers", slug);

   if (performance) {
      performances.push(performance);
   }
}

const lastestActs: any[] = [
   await getEntryBySlug("performers", "amulet"),
   await getEntryBySlug("performers", "pas-musique"),
   await getEntryBySlug("performers", "feyleux"),
   await getEntry("performers", "dead-cool-2025"),
   await getEntry("performers", "akchamel-the-giver-of-illness"),
   await getEntry("performers", "silver-rein-2025"),
];

const jsonSchema = nextEvent ? await musicEventSchema(nextEvent.slug) : {};
---

<Layout>
   <SEO
      slot="seo"
      title="Dark Castle Fest 2025 - Louisville, KY"
      description="Radio Arcane presents Dark Castle Fest. A Gothic Music & Dark Arts Festival."
      openGraph={{
         basic: {
            title: "Dark Castle Fest 2025 - Louisville, KY",
            image: `${domain}/images/dark-castle-2025.png`,
            type: "website",
            url: domain,
         },
         optional: {
            locale: "en_US",
            siteName,
         },
      }}
   />

   <Container boxGap={true} tag="article" classes="pb-lg">
      <h1 class="title">{nextEvent?.data?.title}</h1>

      <Grid tag="section" center={true} collapse={true}>
         <GridItem xs={12} md={6} lg={7}>
            <h2 class="mb-0">
               <a
                  class="text-default"
                  href="https://www.radio-arcane.com"
                  target="_blank">Radio Arcane</a
               > presents Dark Castle Fest<br />
               A Gothic Music & Dark Arts Festival
            </h2>

            <p class="text-secondary">
               <time datetime="2025-10-31">October 31</time> – <time
                  datetime="2025-11-01">November 1st</time
               >, 2025<br />
               Louisville, Kentucky
            </p>

            <p>
               Please follow us on <a
                  href={social?.facebook}
                  target="_blank"
                  rel="noopener">Facebook</a
               > and <a href={social?.instagram} target="_blank" rel="noopener"
                  >Instagram</a
               > for the latest updates.
            </p>

            {
               nextEvent?.data?.ticketsUrl && (
                  <a
                     class="btn btn--primary"
                     href={nextEvent?.data.ticketsUrl}
                     target="_blank"
                     rel="noopener"
                  >
                     <Icon icon="ticket" classes="ml-0" />
                     <span class="inline-block">Purchase Tickets</span>
                  </a>
               )
            }
         </GridItem>
         <GridItem xs={12} md={6} lg={5}>
            <figure>
               <Picture
                  src={darkCastleFest2025Poster}
                  formats={["webp", "avif"]}
                  alt=`Dark Castle Festival ${currentYear} Poster`
                  fallbackFormat="jpg"
                  loading="eager"
                  width={900}
               />
            </figure>
         </GridItem>
      </Grid>
   </Container>

   <Container boxGap={true}>
      <h3 class="title uppercase">2025 Announcements!</h3>

      {
         lastestActs.map((performer, i) => (
            <HomepageBand
               performer={performer}
               flow={i % 2 ? `right` : `left`}
            />
         ))
      }
   </Container>
</Layout>

<script
   slot="jsonLd"
   type="application/ld+json"
   set:html={JSON.stringify(jsonSchema)}
/>
